.forgotpassword_container {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.forgotpassword_link {
  font-weight: 600;
  color: var(--primary-400);
}

.forgotpassword_link:hover {
  color: var(--primary-300);
}