.loginbutton {
  text-align: center;
  gap: 2.5rem;
  height: 3.5rem;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  background-color: var(--primary-400) !important;
  color: white;
  height: 100%;
  width: 100%;
}